.time{
	transition: 1s;
}
.container{
	width: 1000px;
	height: 640px;
	background-image: url("../media/фон2.png") ;
	position: relative;

}
.fish{
	position: absolute;
	cursor: pointer;
	user-select: none;
}
.userInfo{
	margin-top: 30px;
}
.menu{
	display: flex;
	justify-content: space-between;
}
.turn{
	transform: scaleX(-1);
	transition: 0.5s;
}
.recordTable{
	margin-right: 40px;
	float: right;
}