<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="user_name">
        <p>Привет, {{name}}</p>
        <input v-show="visible" v-model="name" placeholder="Введите ваше имя">
        <button v-on:click="visible=!visible">{{visible?'Скрыть':'Отобразить'}}</button>
    </div>



    <div id="list">
        <h2>Список покупок</h2>
        <p>
            <input v-model="newPurchase" placeholder="Введите покупку">
            <button v-on:click="purchases.push({ text:newPurchase, className: 'notLine'})">Добавить</button>
        </p>

        <ul>

            <li v-for="(purchase, index) in purchases">
                <p><span :class="purchase.className" v-on:click="purchase.className = 'line'">{{ purchase.text }}</span> <button v-on:click="purchases.splice(index, 1)">Удалить</button></p>
            </li>
        </ul>
    </div>
</body>
</html>