<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рыбки</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="userInfo">
            <input v-show="!isStart" v-model="name" placeholder="Введите имя">
            <button v-show="!isStart" @click="startGame">Начать игру</button>
        </div>
        <div class="recordTable" v-show="result">
            <h3>Топ 10 Игроков:</h3>
            <div v-for="user in result">
                <p>Игрок {{user.name}} : {{user.scores}} очков</p>
            </div>

        </div>
        <div v-show="isStart" class="table">
            <div class="menu"> 
                <div class="left">
                    <h5>Игрок: {{name}}, <span class="time">Времени осталось: {{time}}</span></h5>
                    <h5>Ваши очки: {{scores}}</h5>
                </div>
            </div>
            
            
            <div v-show="isStart" class="container">

                <div v-for="(fish, index) in fishes">

                    <div class="fish" :style="{left: fish.left + 'px', top: fish.top + 'px'}">

                            <img :style="{width: fish.width + 'px', height: fish.height + 'px'}" :class="{'turn' : fish.turn}" :src="fish.img" @click="takeFish(index);">

                    </div>

                </div>
                    
                

                    

                
                    
            </div>
            
            
        </div>
    </div>
    
        
    <script src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
</body>
</html>